---
import Icon from './ui/Icon.astro'
---

<section class="box skills">
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="layout" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Modern design</h2>
		<p>Sleek-looking responsive designs with interactive UX that captivate users on all devices.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="performance" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>High performance</h2>
		<p>
			Robust server-side programming with state-of-the-art architecture for highly efficient and blazing-fast
			software.
		</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="cloud" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Cloud native</h2>
		<p>
			Expertise in devops technologies that results reliable CI/CD, ensuring smooth development regardless of the
			deployment platform.
		</p>
	</div>
</section>

<style>
	.box {
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 2rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}

	.skills {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	.skills h2 {
		font-size: var(--text-lg);
	}

	.skills p {
		color: var(--gray-300);
		max-width: 35rem;
	}

	@media (min-width: 60em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}

		.skills {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 5rem;
		}

		.skills h2 {
			font-size: var(--text-2xl);
		}
	}
</style>
